* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: black;
  background-color: #e7f5ff;
}

.navbar-custom {
  background-color: #e7f5ff;
}

#home-section {
  background-image: linear-gradient(
      rgba(231, 245, 255, 0.776),
      rgba(165, 216, 255, 0.803)
    ),
    url(../img/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  background-position: top;
}

#home-section .home-inner {
  padding-top: 9.375rem;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas {
  color: #333;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#Testimonials-head-section {
  background-color: #fff;
  text-align: center;
  color: #333;
}

.testimonial-title {
  font-weight: bold;
}

.testimonial-image {
  width: 20%;
  margin: 20px;
}

.carousel-btn {
  color: #000 !important;
}
.carousel-item {
  padding: 7% 15%;
}

.icon {
  color: #000;
}

#prices-head-section {
  padding: 6.25rem;
}
